<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Dodaj lek</title>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/"><img src="https://megawrzuta.pl/files/8f1e792e67653ab6d36ac014f4af88ad.png" width="30" height="30" class="d-inline-block align-top" alt=""> Pharmacy Data Service</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Start </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allmedicines">Baza leków</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allcategories">Kategorie leków</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Dodaj lek</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addcategory">Dodaj kategorię <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

</head>
<body><br>
<style type="text/css">
    html {
        background: url(https://image.ibb.co/ftrVQ0/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body {
        background-color: transparent;
    }
</style>

<!--<div style="text-align: center;">-->

<div style="text-align: center;"><h3 class="font-weight-light">Dodaj kategorię</h3></div>

<form class="was-validated" th:action="@{/category/save}" th:object="${category}" method="post"
      style="width: 300px;margin: auto">

    <div class="form-group">
        <label for="name">Nazwa kategorii</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" required>
        <div class="invalid-feedback">Podaj nazwę kategorii</div>
    </div>

    <div class="form-group">
        <label for="substance">Opis kategorii</label>
        <input type="text" class="form-control" id="substance" th:field="*{description}" required>
        <div class="invalid-feedback">Podaj opis kategorii</div>
    </div>

    <div style="text-align: center">
        <a href="/allcategories">
            <button type="button" class="btn btn-outline-primary">< Wróć</button>
        </a>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
</form>

</body>
</html>