<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Baza leków</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/"><img src="https://megawrzuta.pl/files/8f1e792e67653ab6d36ac014f4af88ad.png" width="30" height="30" class="d-inline-block align-top" alt=""> Pharmacy Data Service</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Start </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allmedicines">Baza leków</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/allcategories">Kategorie leków <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Dodaj lek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addcategory">Dodaj kategorię</a>
                </li>
            </ul>

            <div align="center" id="search">
                <div id="word">
                    <form class="form-inline my-2 my-lg-0" name="search" th:action="@{/category/search}" method="post">

                        <div class="form-group">
                            <input class="form-control mr-sm-2" type="text" placeholder="Szukaj..." aria-label="Search"
                                   th:name="word" width="500px" required>
                            <div class="invalid-feedback"></div>
                        </div>
                        <select th:name="query" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected th:value="name">Nazwa</option>
                            <option th:value="description">Opis kategorii</option>
                        </select>
                        <button type="submit" class="btn btn-outline-light">
                            <span class="glyphicon glyphicon-search"></span> Szukaj
                        </button>
                    </form>


                </div>
            </div>
        </div>
    </nav>


</head>
<body>
<style type="text/css">
    html {
        background: url(https://image.ibb.co/ftrVQ0/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body {
        background-color: transparent;
    }

    thead {
        /*background-color: rgb(0, 118, 255);*/
        -webkit-text-fill-color: white;
        text-align: center;
    }

    tbody {
        background-color: rgba(255, 255, 255, 0.85);
    }
</style>
<div style="text-align: center;">
    <br>
    <h2 class="font-weight-light" th:text="'Kategorie leków'"></h2><br>


    <table id="table" class="table table-striped" style="width: auto; margin: auto ">

        <thead>
        <tr class="bg-primary" >
            <th>Nazwa kategorii
                <a href="/category/name/asc" style="-webkit-text-fill-color: white">▲</a>
                <a href="/category/name/desc" style="-webkit-text-fill-color: white">▼</a>
            </th>
            <th>Opis kategorii
                <a href="/category/description/asc" style="-webkit-text-fill-color: white">▲</a>
                <a href="/category/description/desc" style="-webkit-text-fill-color: white">▼</a>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category: ${categories}">
            <!--<td th:text="${medicine.id}"></td>-->
            <td th:text="${category.name}"></td>
            <td th:text="${category.description}"></td>
            <td>
                <a th:href="@{'/category/' + ${category.id}}"><img
                        src="https://image.flaticon.com/icons/svg/25/25648.svg" alt="Delete"
                        style="width: 20px;height: 20px"></a>
            </td>
            <td>
                <a th:href="@{'/category/edit/' + ${category.id}}"><img
                        src="http://simpleicon.com/wp-content/uploads/pencil.png"
                        alt="Edit" style="width: 20px;height: 20px"></a>
            </td>
            <td>
                <a th:href="@{'/category/delete/' + ${category.id}}"><img
                        src="https://png.icons8.com/metro/1600/delete-sign.png"
                        alt="Delete" style="width: 20px;height: 20px"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center;">
        <br>
        <p>Kliknij strzałki w nagłówkach kolumn, by posortować (rosnąco/malejąco)</p>
    </div>
    <br>

    <div style="text-align: center">
        <a href="/">
            <button type="button" class="btn btn-outline-primary">< Wróć</button>
        </a>
        <a href="/addcategory">
            <button type="button" class="btn btn-outline-primary">Dodaj</button>
        </a>
    </div>
</div>
<!--Sorting-->
<!--<script>-->
    <!--function sortTable(n) {-->
        <!--var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;-->
        <!--table = document.getElementById("table");-->
        <!--switching = true;-->
        <!--//Set the sorting direction to ascending:-->
        <!--dir = "asc";-->
        <!--/*Make a loop that will continue until-->
        <!--no switching has been done:*/-->
        <!--while (switching) {-->
            <!--//start by saying: no switching is done:-->
            <!--switching = false;-->
            <!--rows = table.getElementsByTagName("TR");-->
            <!--/*Loop through all table rows (except the-->
            <!--first, which contains table headers):*/-->
            <!--for (i = 1; i < (rows.length - 1); i++) {-->
                <!--//start by saying there should be no switching:-->
                <!--shouldSwitch = false;-->
                <!--/*Get the two elements you want to compare,-->
                <!--one from current row and one from the next:*/-->
                <!--x = rows[i].getElementsByTagName("TD")[n];-->
                <!--y = rows[i + 1].getElementsByTagName("TD")[n];-->
                <!--/*check if the two rows should switch place,-->
                <!--based on the direction, asc or desc:*/-->
                <!--if (dir == "asc") {-->
                    <!--if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {-->
                        <!--//if so, mark as a switch and break the loop:-->
                        <!--shouldSwitch = true;-->
                        <!--break;-->
                    <!--}-->
                <!--} else if (dir == "desc") {-->
                    <!--if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {-->
                        <!--//if so, mark as a switch and break the loop:-->
                        <!--shouldSwitch = true;-->
                        <!--break;-->
                    <!--}-->
                <!--}-->
            <!--}-->
            <!--if (shouldSwitch) {-->
                <!--/*If a switch has been marked, make the switch-->
                <!--and mark that a switch has been done:*/-->
                <!--rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);-->
                <!--switching = true;-->
                <!--//Each time a switch is done, increase this count by 1:-->
                <!--switchcount++;-->
            <!--} else {-->
                <!--/*If no switching has been done AND the direction is "asc",-->
                <!--set the direction to "desc" and run the while loop again.*/-->
                <!--if (switchcount == 0 && dir == "asc") {-->
                    <!--dir = "desc";-->
                    <!--switching = true;-->
                <!--}-->
            <!--}-->
        <!--}-->
    <!--}-->
<!--</script>-->

</div>
</body>
</html>