<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Baza leków</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/"><img src="https://megawrzuta.pl/files/8f1e792e67653ab6d36ac014f4af88ad.png" width="30" height="30" class="d-inline-block align-top" alt=""> Pharmacy Data Service</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Start </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allmedicines">Baza leków</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allcategories">Kategorie leków</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Dodaj lek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addcategory">Dodaj kategorię</a>
                </li>
            </ul>
        </div>
    </nav>

</head>

<body>
<div style="text-align: center;">
    <br>
    <h2 class="font-weight-light">Wystąpił błąd, przepraszamy :(</h2><br>
</div>

<div style="text-align: center">
    <a href="/">
        <button type="button" class="btn btn-outline-primary">< Wróć</button>
    </a>
</div>
</body>
</html>